.container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  nav ul li.active {
    font-weight: bold;
  }
  
  .main-content {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
    }
  
    .main-content {
      width: 100%;
    }

    .contact{
      width: 100%;
    }
  }
  